Shubham (shubhambit92@gmail.com) SmartBridge Internship/flows.json
[{"id":"48f49d16.a444e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7cada543.54507c","type":"ui_form","z":"48f49d16.a444e4","name":"form","label":"Welcome to the Ecobee support team chatbot!","group":"2bee9f11.db5f7","order":1,"width":12,"height":3,"options":[{"label":"Start conversation :","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":170,"y":240,"wires":[["43e1cb31.b03f24"]]},{"id":"43e1cb31.b03f24","type":"function","z":"48f49d16.a444e4","name":"input parsing","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["4657fe84.dc6ae","16195da5.2b60b2"]]},{"id":"4657fe84.dc6ae","type":"watson-conversation-v1","z":"48f49d16.a444e4","name":"Customer Care","workspaceid":"31abfae2-4724-488d-adf1-c364e8fe58c2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1af29b14-cac8-45fc-93c2-51c1b783777e","timeout":"","optout-learning":false,"x":540,"y":200,"wires":[["fa2b07c.c20e2f8","dce6c936.0cdea8"]]},{"id":"dce6c936.0cdea8","type":"debug","z":"48f49d16.a444e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"fa2b07c.c20e2f8","type":"function","z":"48f49d16.a444e4","name":"parsing","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":755,"y":300,"wires":[["e60fc9b1.13f128","354f60e5.08dca"]],"l":false},{"id":"16195da5.2b60b2","type":"ui_text","z":"48f49d16.a444e4","group":"2bee9f11.db5f7","order":2,"width":12,"height":2,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":475,"y":300,"wires":[],"l":false},{"id":"e60fc9b1.13f128","type":"ui_text","z":"48f49d16.a444e4","group":"2bee9f11.db5f7","order":3,"width":12,"height":9,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"row-left","x":895,"y":340,"wires":[],"l":false},{"id":"354f60e5.08dca","type":"ui_audio","z":"48f49d16.a444e4","name":"","group":"2bee9f11.db5f7","voice":"","always":"","x":895,"y":440,"wires":[],"l":false},{"id":"2b256ae.a0c2296","type":"inject","z":"48f49d16.a444e4","name":"","topic":"","payload":"ecobee3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":175,"y":120,"wires":[["4657fe84.dc6ae"]],"l":false},{"id":"2bee9f11.db5f7","type":"ui_group","z":"","name":"Ecobee Virtual Agent ","tab":"48ef29f8.567ba8","order":1,"disp":true,"width":12,"collapse":false},{"id":"48ef29f8.567ba8","type":"ui_tab","z":"","name":"Intelligent Customer Help-Desk with Smart Document Understanding _________________________________________________________________________ecobee support | ecobee","icon":"dashboard","disabled":false,"hidden":false}]